.container {
    position: relative;
    width: 300px; /* Adjust width as needed */
}

.input {
    width: 100%;
    margin-bottom: 10px;
}

.suggestions {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0)
}

.suggestions li:hover {
    cursor: pointer;
    background-color: #EFEFEF;
}