.container {
    height: 100%;
    background-color: #f4f6f9;


}

.feedback-section {
    margin-bottom: 20px;
    /* Margin between feedback section and submit button */
}


.technicianDetails{
    background-color: #E1F8DC;
    color: #2C3E50; /* Dark Gray */
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


}
.feedback-label {
    /* Margin below the feedback label */
    margin-left: 10px;
}

.content {
    width: 100%;
    /* Set width to 100% */
}

.signature-pad {
    cursor: url(http://icons.iconarchive.com/icons/designcontest/vintage/32/Patent-Pen-icon.png) 0 20, progress;
    font-weight: bold;
    height: 300px;


}

.clear-button {
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }
  
  .submit-button {
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .commentsDiv{
    padding-top: 75px;
  }


.rate {
    float: left;
    /* height: 60px; */
    /* Adjust height of star rating section */
    /* padding: 0 10px; */
    /* padding-bottom:15px ; */
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 60px;
    /* Increased font size for stars */
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label::before {
    color: #ffc700 !important;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

.bold-label::part(label) {
    font-weight: bold;
}



.submit-button lightning-button {
    margin: 0 auto;
    /* Center the button horizontally */
    display: block;
    /* Make the button a block-level element */
    width: auto;
    /* Let the button take the width of its content */
}

.disclaimer {
    background-color: #E1F8DC;
    color: #2C3E50; /* Dark Gray */
    border-radius: 5px;
    margin-top: 20px;

    font-size: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}