.custom-padding {
    padding-left: 15px; /* Adjust according to your preference */
    padding-right: 15px; /* Adjust according to your preference */
}

.custom1-padding {
    padding-right: 15px; /* Adjust according to your preference */
}
.custom2-padding {
    padding-left: 15px; /* Adjust according to your preference */
}